# Python Backend
/backend/**/__pycache__/
/backend/**/*.py[cod]
/backend/**/*$py.class
/backend/**/*.so
/backend/**/.Python
/backend/**/env/
/backend/.venv/
/backend/**/build/
/backend/**/develop-eggs/
/backend/**/dist/
/backend/**/downloads/
/backend/**/eggs/
/backend/**/.eggs/
/backend/**/lib/
/backend/**/lib64/
/backend/**/parts/
/backend/**/sdist/
/backend/**/var/
/backend/**/*.egg-info/
/backend/**/.installed.cfg
/backend/**/*.egg
/backend/.pytest_cache/
/backend/.coverage
/backend/htmlcov/

# Sensitive configuration
/backend/app/config.py
/backend/.env
*.env
.env.*
!.env.example

# Database
/backend/instance/*.db
/backend/instance/*.sqlite3

# Frontend (Node.js/Vue.js)
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/
/frontend/.npm
/frontend/.eslintcache
/frontend/.nuxt
/frontend/.nitro
/frontend/.cache
/frontend/.output
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/.env
/frontend/.env.*
/frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace
*.sublime-project
.history/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini